h1{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
background-color: rgb(9, 201, 214); text-align: center ;
text-transform: uppercase;/*msyúscula*/}

h2{font-size: larger; font-weight: 700; font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration:underline}

h3 {text-decoration:underline}
.destacados{font-size: large;font-weight: bold;}

#caja{background-color: aquamarine;
width: 50%;}